<template>
  <v-card
      :loading="loading"
      class="mx-auto my-12 card-buy"
      max-width="374"
  >
    <p> Название: &nbsp; <span class="font"> {{ orderItem.product.data.title }} </span> </p>
    <p> Цвет: &nbsp; <span class="font"> {{ orderItem.product.data.color }} </span></p>
    <p> Количество: &nbsp; <span class="font"> {{ orderItem.product.data.quantity }}</span> </p>
    <p> Цена: &nbsp; <span class="font">{{ productPriceFormat }} </span></p>

  </v-card>
</template>

<script>

export default {
  name: "HistoryItemComponent",

  props: {
    orderItem: Object
  },

  data: () => ({
    loading: false,
    selection: 1,
  }),

  computed: {
    productPriceFormat() {
      return  Intl.NumberFormat("ru", {style: "currency", currency: "RUB"}).format(this.orderItem.product.data.price)
    }
  }
}
</script>

<style scoped>

.font{
  font-weight: 900;
}
</style>