<template>
  <v-card
      class="first-card"
  >
    <v-card-title>Заказ: &nbsp; <span class="font"> {{ order.id }} </span></v-card-title>
    <v-card-title class="status-text"> Статус: &nbsp; <span class="font"> {{ order.status }} </span></v-card-title>
    <v-card
        class="input-card"
    >
      <div class="history-list">
      <HistoryItemComponent v-for="orderItem in order.orderItem.data" :key="orderItem.id" :order-item="orderItem" />
      </div>

    </v-card>
  </v-card>
</template>

<script>

import HistoryItemComponent from "@/components/HistoryItemComponent";

export default {
  name: "HistoryComponent",
  components: {HistoryItemComponent},
  props: {
    order: Object
  },

  data: () => ({
    loading: false,
    selection: 1,
  }),
}
</script>

<style scoped>

.history-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*flex-wrap: wrap;*/
}

.font{
  font-weight: 900;
}
.status-text{
 position: absolute;
  top: 10px;
  right: 10px;
}
.first-card {
  background: #e0e0e0;
  margin: 2%; /* Отступы вокруг элемента */
  padding: 10px; /* Поля вокруг текста */
}

.input-card {
  background: #95999c; /* Цвет фона */
  padding: 10px; /* Поля вокруг текста */
  margin: 10px; /* Отступы вокруг */
}
</style>