<template>

  <v-list-item>
    <v-list-item-content>
      <v-list-item-title> {{ orderItem.product.data.title }}</v-list-item-title>
    </v-list-item-content>
    <v-list-item-icon>
      <v-btn
          class="delete-icon"
          @click="cancel"
          text>
        <v-icon>delete</v-icon>
      </v-btn>
    </v-list-item-icon>
  </v-list-item>

</template>

<script>

import {mapActions} from "vuex";

export default {
  name: "OrderItemComponent",

  props: {
    orderItem: Object,
  },

  data: () => ({
    selectedItem: 1,
  }),

  methods: {
    ...mapActions({
      cancelOrderItem: "cancelOrderItem"
    }),

    cancel() {
      try {
        this.cancelOrderItem(this.orderItem.id)

        this.$store.dispatch('showSnack', {
          message: 'Выбранный вами товар успешно удален.',
          color: 'green darken-1'
        })
      }

      catch (e) {
        this.$store.dispatch('showSnack', {
          message: 'Ошибка удаления.',
          color: 'red darken-1'
      })
    }
    }

  }
}
</script>

<style scoped>
.delete-icon {
  color: #2274f3;
}
</style>