<template>
  <v-card
      class="mx-auto"
      max-width="300"
      tile
  >
    <v-list rounded>
      <v-subheader>КОРЗИНА</v-subheader>

      <OrderItemComponent v-for="orderItem in order.orderItem.data" :key="orderItem.id" :order-item="orderItem"/>

    </v-list>

    <div class="btn-pay">
      <v-btn
          color="primary"
          @click="pay">Оформить заказ
      </v-btn>
    </div>
    <div class="btn-hide">
      <v-btn v-if="inputVisibility"
      color="green"
      @click="hide">Скрыть кнопку
      </v-btn>
    </div>
    <SnackbarComponent/>
  </v-card>
</template>

<script>

import OrderItemComponent from "@/components/OrderItemComponent";
import SnackbarComponent from "@/components/SnackbarComponent";
import axios from "axios";
import router from "@/router";

export default {
  name: 'OrderComponent',
  components: {OrderItemComponent,SnackbarComponent},
  props: {
    order: Object
  },
  data: () => ({
    selectedItem: 1,
    inputVisibility: true
  }),

  methods: {
    pay() {
     axios.get('/internetshop/order/pay/', {params: {orderId: this.order.id}}).then(response => {
        //this.results = response.data
        console.log(response)
        router.push('/history')
      })
      //alert(this.order.orderItem.id)
    },
    hide(){
      this.inputVisibility = false;
    }
  }
}
</script>

<style>

.btn-pay {
  position: absolute;
  top: 220px;
  left: 500px;
}

.btn-hide{
  position: absolute;
  top: 320px;
  left: 500px;
}

</style>