<template>
  <v-card
      :loading="loading"
      class="mx-auto my-12 card-buy"
      max-width="374"
  >
    <template slot="progress">
      <v-progress-linear
          color="deep-purple"
          height="10"
          indeterminate
      ></v-progress-linear>
    </template>




    <v-img
        height="250"
        src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
    ></v-img>

    <div class="color-box"
         :style="{ width:'40px', height: '40px', background:productColor }"
    >
    </div>

    <v-card-title>{{ product.title }}</v-card-title>
   <!-- <v-card-title>{{ product.color }}</v-card-title> -->
    <v-card-title>{{ productPriceFormat }}</v-card-title>
    <v-card-text>
      <v-row
          align="center"
          class="mx-0"
      >
      </v-row>

      <div>{{ product.description }}</div>

    </v-card-text>

    <v-btn class="btn-buy"
        color="primary"
        @click="buy">Добавить в корзину
    </v-btn>

  </v-card>
</template>

<script>
import axios from "axios";

export default {
  name: 'ProductCard',
  props: {
    product: Object
  },

  data: () => ({
    loading: false,
    selection: 1,
  }),

  methods: {
    buy() {
      axios.get('/internetshop/default/buy/',{ params: { productId: this.product.id } }).then(response => {
        //this.results = response.data
        console.log(response)
        //this.cards = response.data.data
      })
    }
  },

  computed: {
    productColor() {

      if (this.product.color === 'Зеленый')
        return 'green'
      if (this.product.color === 'Синий')
        return 'blue'
      if (this.product.color === 'Красный')
        return 'red'
      if (this.product.color === 'Желтый')
        return 'yellow'

      return 'blue';
    },

    productPriceFormat() {
      return  Intl.NumberFormat("ru", {style: "currency", currency: "RUB"}).format(this.product.price)
    }
  }

}
</script>

<style scoped>
.btn-buy {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.card-buy {
  position: relative;
  padding-bottom: 50px;
}
</style>
