
.button1 {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

.button1:hover {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}
