<template>

  <div class="history-list">
    <HistoryComponent v-for="order in orders" :key="order.id" :order="order"/>
  </div>

</template>

<script>

import HistoryComponent from "@/components/HistoryComponent";
//import axios from "axios";
import {mapActions, mapState} from "vuex";

export default {
  name: "HistoryPage",
  components: {HistoryComponent},

  data: () => ({
    //orders:[]
    selectedItem: 1,
  }),
  methods: {
   /* load(){
      axios.get('/internetshop/order/history').then(response => {
        //this.results = response.data
        console.log(response)
        this.orders = response.data.data
      })
    }*/
    ...mapActions({
          loadHistory:"loadHistory"
    }),
    load() {
      this.loadHistory()
    },
  },
  computed: {
    ...mapState({
      orders:"cart"
    })
  },

  mounted() {
    this.load()
  }

}
</script>

<style scoped>

</style>