<template>

  <div class="order-list">
    <OrderComponent v-for="order in orders" :key="order.id" :order="order"/>
  </div>

</template>

<script>

import OrderComponent from "@/components/OrderComponent";
import {mapActions, mapState} from "vuex";

export default {
  //eslint-disable-next-line vue/multi-word-component-names
  name: 'OrderPage',
  // eslint-disable-next-line vue/no-unused-components
  components: {OrderComponent},

  data: () => ({
    selectedItem: 1,
  }),
  methods: {
    ...mapActions({
      loadCart:"loadCart"
    }),
    load() {
     this.loadCart()
    },
  },
  computed: {
    ...mapState({
      orders:"cart"
    })
  },

  mounted() {
    this.load()
  }

}

</script>

<style scoped>

.order-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

</style>