<template>
<!--  <ul>-->
<!--    <li v-for="card in cards" :key="card.id">-->
<!--      <p>{{ card.color}}</p>-->
<!--      <p>{{card.title}}</p>-->
<!--    </li>-->
<!--  </ul>-->
  <div class="product-list">
    <ProductCard v-for="card in cards" :key="card.id" :product="card"/>
  </div>
</template>

<script>

import axios from "axios";
import ProductCard from "@/components/ProductCard";

export default {
   //eslint-disable-next-line vue/multi-word-component-names
  name: 'Product',
  components: {ProductCard},
  data: () => ({

    cards:[
      /*{ id: 1,
        title: 'Товар 15',
        color: 'Синий',
        price: 5000
      },
      { id: 2,
        title: 'Товар 55',
        color: 'Желтый!!',
        price:2022
      },*/
    ]

  }),
  methods: {
    load(){
      axios.get('/internetshop/default/list').then(response => {
        //this.results = response.data
        console.log(response)
        this.cards = response.data.data
      })
    }
  },

  mounted() {
    this.load()
  }

}

</script>

<style scoped>
.product-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>